[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
tenacity = "*"

[dev-packages]
black = "*"
pytest = "*"
"flake8" = "*"
mypy = "*"
docker = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
